.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  background-color: #182c61;
  color: white;
}

.form {
  height: 70%;
  width: 80%;
  max-width: 600px;
  background-color: white;
  color: #182c61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.form h3 {
  margin-bottom: 40px;
}
.formGroup {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.formGroup > input {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #edf2ff;
  padding-left: 6px;
  border-radius: 4px;
}

.formBtns {
  margin-top: 10px;
  text-align: center;
}

.formInputBtn {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #182c61;
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
  transition: all 0.2s ease-in;
}

.formInputBtn:hover {
  background-color: #223e8a;
  transform: scale(0.98);
}

.registerBtn {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #edf2ff;
  border-radius: 4px;
  color: #182c61;
  transition: all 0.2s ease-in;
}

.registerBtn:hover {
  background-color: #d1dcf7;
  transform: scale(0.98);
}

@media (min-width: 700px) {
  .formGroup > input {
    width: 460px;
  }

  .formInputBtn {
    width: 460px;
  }

  .registerBtn {
    width: 460px;
  }
}
