.addItemComponent {
  width: 100%;
}

.addItemModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalForm {
  margin-top: 50px;
  padding: 40px;
  border: 1px solid rgb(245, 245, 245);
  box-shadow: 0 6px 20px rgba(4, 53, 146, 0.17);
}

.addItemTitle {
  text-align: center;
  margin-bottom: 20px;
}
.confirmAlert {
  text-align: center;
}
